<div class="dashboard">
  <div class="left">
    
    <div class="navigation">
      <div class="wrapper2">
        <app-essaye></app-essaye>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="right-header">
      <app-navbar></app-navbar>
      <hr class="new-hr">
      <div class="right-bottom">
      </div>
    </div>
    <span><a routerLink="/dashboardMedecin" style="text-decoration: none;">Dashboard </a>/ <a routerLink="/profil" style="text-decoration: none;"> Profil</a></span>
    <div class="right-body">
      <div class="message">
        <div class="mes-date">
          <div class="title">
            <div class="title-icons">
              <div class="container">
                <div class="row">
                    <div class="col-12">
                      <!-- Page title -->
                      <div class="my-2">
                        <h3>Votre profil</h3>
                        <hr>
                      </div>
                      <!-- Form START -->
                      <form class="file-upload" [formGroup]="coordonnee">
                        <div class="alert alert-danger" role="alert" *ngIf="erreurModification==true">Problème modification</div>
                        <div class="alert alert-success" role="alert" *ngIf="resultModification==true">Modification validée</div>
                        <div class="row mb-5 gx-5">
                          <!-- Contact detail -->
                          <div class="col-xxl-8 mb-5 mb-xxl-0">
                            <div class="bg-secondary-soft px-4 py-5 rounded">
                              <div class="row g-3">
                                <h4 class="mb-4 mt-0">Contact</h4>

                                <div class="col-md-6">
                                  <label class="form-label">Nom *</label>
                                  <input type="text" class="form-control" placeholder="" aria-label="First name" formControlName="nom">
                                </div>

                                <div class="col-md-6">
                                  <label class="form-label">Prenom *</label>
                                  <input type="text" class="form-control" placeholder="" aria-label="Last name" formControlName="prenom">
                                </div>
      
                                <div class="col-md-6">
                                  <label class="form-label">numéro telephone *</label>
                                  <input type="tel" class="form-control" placeholder="" aria-label="Phone number" formControlName="telephone">
                                </div>
                                <div class="col-md-6">
                                  <label for="inputEmail4" class="form-label">E-mail *</label>
                                  <input type="email" class="form-control" id="inputEmail4" formControlName="email">
                                </div>
                                <div class="col-md-6">
                                  <label for="inputEmail4" class="form-label">Adresse *</label>
                                  <input type="text" class="form-control" id="inputEmail4" formControlName="adr">
                                </div>
                                <div class="col-md-6">
                                  <label class="form-label">Code postal *</label>
                                  <input type="number" class="form-control" placeholder="" formControlName="codePostal">
                                </div>
                              </div> <!-- Row END -->
                            </div>
                          </div>
                        </div>

                        <div class="row mb-5 gx-5">
                          <!-- Détail personnel -->
                          <div class="col-xxl-8 mb-5 mb-xxl-0">
                            <div class="bg-secondary-soft px-4 py-5 rounded">
                              <div class="row g-3">
                                <h4 class="mb-4 mt-0">Détail personnel</h4>

                                <div class="col-md-6">
                                  <label class="form-label">CIN *</label>
                                  <input type="number" class="form-control" placeholder="Numéro CIN" formControlName="ncin">
                                </div>
      
                                <div class="col-md-6">
                                  <label class="form-label">Nom cabinet *</label>
                                  <input type="text" class="form-control" placeholder="" formControlName="nomCabinet">
                                </div>
                                <div class="gap-6 d-md-flex justify-content-md-center" style="padding-top: 35px;">
                                  <button type="button" class="btn btn-primary " (click)="modifierProfil()">Confirmer les modifications</button>
                                </div>
                              </div> <!-- Row END -->
                            </div>
                          </div>
                        </div>
                      </form> 
                      
                        <div class="row mb-5 gx-5">
                          <!-- Contact detail -->
                          <div class="col-xxl-8 mb-5 mb-xxl-0">
                            <div class="bg-secondary-soft px-4 py-5 rounded">
                              <div class="row g-3">
                                <h4 class="mb-4 mt-0">Horraire<button type="button" class="btn btn-link" data-toggle="modal" data-target="#horraireModel">+</button></h4>
                                <div class="col-lg-12">
                                  <div class="main-box clearfix">
                                <div class="table-responsive">
                                  <table class="table user-list" *ngIf="horaires.length != 0">
                                    <thead>
                                      <tr>
                                        <td class="text-center"><span>Jour</span></td>
                                        <td class="text-center"><span>Heure début premier séance</span></td>
                                        <td class="text-center"><span>Heure fin premier séance</span></td>
                                        <td class="text-center"><span>Heure début deuxième séance</span></td>
                                        <td class="text-center"><span>Heure fin deuxième séance</span></td>
                                        <td class="text-center"><span>More</span></td>
                                      </tr>
                                    </thead>
                                    <tbody *ngFor="let h of horaires">
                                      <tr>
                                        <td class="text-center">
                                          <span class="label label-default">{{h.jour}}</span>
                                        </td>
                                        <td class="text-center">
                                          <span class="label label-default">{{h.dateDebutPremS}}</span>
                                        </td>
                                        <td class="text-center">
                                          <span class="label label-default">{{h.dateFinPremS}}</span>
                                        </td>
                                        <td class="text-center">
                                          <span class="label label-default">{{h.dateDebutDeuS}}</span>
                                        </td>
                                        <td class="text-center">
                                          <span class="label label-default">{{h.dateFinDeuS}}</span>
                                        </td>
                                        <td class="text-center">
                                          <button type="button" class="btn btn-link" type="button" data-toggle="modal" data-target="#modification" (click)="modification(h)" >
                                          <span class="label label-default">
                                            <i class="bi bi-pencil-square" style="font-size: 20px; margin-left: 30px;"></i>
                                          </span>
                                        </button>
                                          <button type="button" class="btn btn-link" (click)="supprimerHoraire(h.id,h)">
                                          <span class="label label-default">
                                            <i class="bi bi-archive" style="font-size: 20px; margin-left: 30px;"></i>
                                          </span>
                                        </button>
                                        </td>
                                      </tr>
                                    </tbody>
                                    
                                  </table>
                                  <div *ngIf="horaires.length == 0" style="text-align: center;color: rgb(161, 23, 23);"><h3><i>Ajouter vos horaires</i></h3></div>
                                </div>
                                </div>
                                </div>
                              </div> <!-- Row END -->
                            </div>
                          </div>
                        </div>
                        <div class="row mb-5 gx-5" >
                          <!-- change password -->
                          <button class="btn btn-link" (click)="changer()" *ngIf="changement==false">Changer mot de passe</button>
                          <div class="col-xxl-6" *ngIf="changement==true">
                            <form [formGroup]="mdpForm">
                              <div class="alert alert-success" role="alert" *ngIf="resultModificationMdp==true">Modification validée</div>
                                <div class="alert alert-danger" role="alert" *ngIf="egal==true"><strong>erreur !! </strong> Verifier votre mot de passe</div>
                            <div class="bg-secondary-soft px-4 py-5 rounded">
                              <div class="row g-3">
                                <h4 class="my-4">Changer mot de passe</h4>
                                <!-- New password -->
                                <div class="col-md-6">
                                  <label for="exampleInputPassword2" class="form-label">Nouveau mot de passe *</label>
                                  <input type="password" class="form-control" id="exampleInputPassword2" formControlName="motDePasse" (change)="motDepassValidation()">
                                  <div style="color: red;" *ngIf="verifMotDePasse==true">*Champs obligatoire</div>
                                  <div style="color: red;" *ngIf="longMdp==true">*mot de passe très court</div>
                                  <div style="color: red;" *ngIf="contenuMdp==true">*mot de passe ne doit pas continir votre nom ou prenom</div>
                                </div>
                                <!-- Confirm password -->
                                <div class="col-md-6">
                                  <label for="exampleInputPassword3" class="form-label">Confirmer mot de passe *</label>
                                  <input type="password" #confirmPassword class="form-control" id="exampleInputPassword3" >
                                  <div style="color: red;" *ngIf="verifConfirmPassword==true">*Champs obligatoire</div>
                                </div>
                                <div class="gap-3 d-md-flex justify-content-md-end text-center">
                                  <button type="button" class="btn btn-primary" (click)="modifierMdp()">Modifier mot de passe</button>
                                </div>
                              </div>
                            </div>
                          </form>
                          </div>
                        </div> <!-- Row END -->
                      <!-- Form END -->
                    </div>
                  </div>
                  </div>
            </div>
          </div>
          
  </div>
  
        </div>
        </div>
      </div>
    </div>

     <!-- Modal -->
<div class="modal fade" id="horraireModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Horaire de travail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
     <div class="alert alert-success" role="alert" *ngIf="valider==true">Horaire est ajouté avec succée</div>
        <div class="alert alert-danger" role="alert" *ngIf="erreur==true"><strong>erreur !! vérifier vos donnée</strong> </div>
        <div class="alert alert-danger" role="alert" *ngIf="erreurJour==true"><strong>erreur !! Vous avez déjà ajouter l'horaire de ce jour</strong> </div>
  
        <form [formGroup]="form"> 
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Jour</label>
            <div class="col-sm-10">
              <select class="form-control" (change)="getSelectedJour($event)">
                <option value="" [disabled]="true" >Choisir</option>
                <option  *ngFor="let f of vJour" [value]="f.jour">{{f.jour}}</option>
            </select>
            <div style="color: red;" *ngIf="verifJour==true">*Champs obligatoire</div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Heure debut 1er séance</label>
            <div class="col-sm-10">
              <select class="form-control" (change)="getSelectedHeureDebutPremS($event)">
                <option value="" [disabled]="true" >Choisir</option>
                <option  *ngFor="let f of vHeureS" [value]="f.heure">{{f.heure}}</option>
            </select>
            <div style="color: red;" *ngIf="verifDateDebutPremS==true">*Champs obligatoire</div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Heure fin 1er séance</label>
            <div class="col-sm-10">
              <select class="form-control" (change)="getSelectedHeureFinPremS($event)">
                <option value="" [disabled]="true" >Choisir</option>
                <option  *ngFor="let f of vHeureS" [value]="f.heure">{{f.heure}}</option>
            </select>
            <div style="color: red;" *ngIf="verifDateFinPremS==true">*Champs obligatoire</div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Heure debut 2ème séance</label>
            <div class="col-sm-10">
              <select class="form-control" (change)="getSelectedHeureDebutDeuxS($event)">
                <option value="" [disabled]="true" >Choisir</option>
                <option  *ngFor="let f of vHeureS" [value]="f.heure">{{f.heure}}</option>
            </select>
            <div style="color: red;" *ngIf="verifDateDebutDeuS==true">*Champs obligatoire</div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Heure fin 2ème séance</label>
            <div class="col-sm-10">
              <select class="form-control" (change)="getSelectedHeureFinDeuS($event)">
                <option value="" [disabled]="true" >Choisir</option>
                <option  *ngFor="let f of vHeureS" [value]="f.heure">{{f.heure}}</option>
            </select>
            <div style="color: red;" *ngIf="verifDateFinDeuS==true">*Champs obligatoire</div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" (click)="ajouter()">Valider</button>
      </div>
    </div>
  </div>
</div>


     <!-- Modal modification-->
     <div class="modal fade" id="modification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modifier l'horaire de travail de <u>{{jour}}</u></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="alert alert-success" role="alert" *ngIf="valider==true">Horaire est modifié avec succée</div>
            <div class="alert alert-danger" role="alert" *ngIf="erreur==true"><strong>erreur !! vérifier vos donnée</strong> </div>
            <div class="alert alert-danger" role="alert" *ngIf="erreurJour==true"><strong>erreur !! Vous avez déjà ajouter l'horaire de ce jour</strong> </div>
            <form [formGroup]="form"> 
              
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Heure debut 1er séance</label>
                <div class="col-sm-10">
                  <select class="form-control" (change)="getSelectedHeureDebutPremS($event)">
                    <option value="" [disabled]="true" >Choisir</option>
                    <option  *ngFor="let f of vHeureS" [value]="f.heure">{{f.heure}}</option>
                </select>
                <div style="color: red;" *ngIf="verifDateDebutPremS==true">*Champs obligatoire</div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Heure fin 1er séance</label>
                <div class="col-sm-10">
                  <select class="form-control" (change)="getSelectedHeureFinPremS($event)">
                    <option value="" [disabled]="true" >Choisir</option>
                    <option  *ngFor="let f of vHeureS" [value]="f.heure">{{f.heure}}</option>
                </select>
                <div style="color: red;" *ngIf="verifDateFinPremS==true">*Champs obligatoire</div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Heure debut 2ème séance</label>
                <div class="col-sm-10">
                  <select class="form-control" (change)="getSelectedHeureDebutDeuxS($event)">
                    <option value="" [disabled]="true" >Choisir</option>
                    <option  *ngFor="let f of vHeureS" [value]="f.heure">{{f.heure}}</option>
                </select>
                <div style="color: red;" *ngIf="verifDateDebutDeuS==true">*Champs obligatoire</div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Heure fin 2ème séance</label>
                <div class="col-sm-10">
                  <select class="form-control" (change)="getSelectedHeureFinDeuS($event)">
                    <option value="" [disabled]="true" >Choisir</option>
                    <option  *ngFor="let f of vHeureS" [value]="f.heure">{{f.heure}}</option>
                </select>
                <div style="color: red;" *ngIf="verifDateFinDeuS==true">*Champs obligatoire</div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button  type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button type="button" class="btn btn-primary" (click)="modifier()">Valider</button>
          </div>
        </div>
      </div>
    </div>