  <div class="dashboard">
    <div class="left">
      
      <div class="navigation">
        <div class="wrapper2">
          <app-essaye></app-essaye>
        </div>
      </div>
    </div>
    <div class="right-side">
      <div class="right-header">
        <app-navbar></app-navbar>
        <hr class="new-hr">
        <div class="right-bottom">
        </div>
      </div>
      <div class="right-body">
        <div class="message">
          <div class="mes-date">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="main-box clearfix">
                    <div class="table-responsive">
                      <app-body-calendrier></app-body-calendrier>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              </div>
            
    
          </div>
        </div>
      </div>