<div class="" >
      <img style="max-width: 100px; margin-left: 40px;" src="../assets/img/aa.jpg" />
    </div>
    <div class="folders">Folders</div>
    <a routerLink="/profil">
      <div class="folder-icons">
        <div class="icon1">
          <img src="" />
        </div>
        <div class="icon-name">Profil</div>
      </div>
    </a>
    <a routerLink="/patient">
      <div class="folder-icons">
        <div class="icon1">
          <img src="" />
        </div>
        <div class="icon-name">Patients</div>
      </div>
    </a>
    <a routerLink="/rendezVous">
      <div class="folder-icons">
        <div class="icon1">
          <img src="" />
        </div>
        <div class="icon-name">Rendez vous</div>
      </div>
    </a>
    <a routerLink="/mesConsultation">
      <div class="folder-icons">
        <div class="icon1">
          <img src="" />
        </div>
        <div class="icon-name">Consultations</div>
      </div>
    </a>
        <a routerLink="/factures">
          <div class="folder-icons">
            <div class="icon1">
              <img src="" />
            </div>
            <div class="icon-name">Factures</div>
          </div>
          </a>
          <a routerLink="/statistique">
          <div class="folder-icons">
            <div class="icon1">
              <img src="" />
            </div>
            <div class="icon-name">Statistique</div>
          </div>
          </a>
          <a routerLink="/archive">
            <div class="folder-icons">
              <div class="icon1">
                <img src="" />
              </div>
              <div class="icon-name">Archive</div>
            </div>
          </a>
          <a routerLink="/" (click)="logout()">
            <div class="folder-icons" style="margin-top: 180px;">
              <div class="icon1">
                <i class="bi bi-box-arrow-right"></i>
              </div>
              <div class="icon-name">Déconnexion</div>
            </div>
          </a>