<div class="" >
    <img style="max-width: 100px; margin-left: 40px;" src="../assets/img/aa.jpg" />
  </div>
  <div class="folders">Folders</div>
  <a routerLink="/profilPatient">
    <div class="folder-icons">
      <div class="icon1">
        <img src="" />
      </div>
      <div class="icon-name">Profil</div>
    </div>
  </a>
  <a routerLink="/monMedecin">
    <div class="folder-icons">
      <div class="icon1">
        <img src="" />
      </div>
      <div class="icon-name">Médecin</div>
    </div>
  </a>
  <a routerLink="/rendezVousPatient">
    <div class="folder-icons">
      <div class="icon1">
        <img src="" />
      </div>
      <div class="icon-name">Rendez vous</div>
    </div>
  </a>
  <a routerLink="/historique">
    <div class="folder-icons">
      <div class="icon1">
        <img src="" />
      </div>
      <div class="icon-name">Historiques</div>
    </div>
  </a>
        <a routerLink="/" (click)="logout()">
          <div class="folder-icons" style="margin-top: 350px;">
            <div class="icon1">
              <i class="bi bi-box-arrow-right"></i>
            </div>
            <div class="icon-name">Déconnexion</div>
          </div>
        </a>