<!--<section class="text-center">
    <div class="p-5 bg-image" style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
          "></div>
  
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="text-uppercase text-center mb-5">Inscription</h2>
            <div class="alert alert-success" role="alert" *ngIf="valider==true"><strong>BIEN </strong> Votre compte est crier</div>
            <div class="alert alert-success" role="alert" *ngIf="egal==true"><strong>erreur !! </strong> Verifier votre mot de passe</div>
            <div class="alert alert-success" role="alert" *ngIf="remplir==true"><strong>erreur !! </strong> Vueiller remplir tout les champs</div>

            <form [formGroup]="form" (ngSubmit)="OnSubmit()">
                <div class="form-outline mb-4">
                    <input type="text" id="form3Example3" class="form-control" placeholder="Nom" formControlName="nom" />
                </div>
                <div class="form-outline mb-4">
                    <input type="text" id="form3Example3" class="form-control" placeholder="Prenom" formControlName="prenom" />
                </div>
                <div class="form-outline mb-4">
                    <input type="number" id="form3Example3" class="form-control" placeholder="CIN" formControlName="cin" />
                </div>
                <div class="form-outline mb-4">
                    <input type="email" id="form3Example3" class="form-control" placeholder="email" formControlName="email" />
                </div>
                <div class="form-outline mb-4">
                    <input type="text" id="form3Example3" class="form-control" placeholder="Adresse" formControlName="adresse" />
                </div>
                <div class="form-outline mb-4">
                    <input type="number" id="form3Example3" class="form-control" placeholder="Code postal" formControlName="codePostal" />
                </div>
              <div class="form-outline mb-4">
                <input type="text" id="form3Example3" class="form-control" placeholder="Specialité" formControlName="specialite"/>
              </div>
              <div class="form-outline mb-4">
                <input type="number" id="form3Example3" class="form-control" placeholder="Telephone" formControlName="telephone"/>
            </div>
            <div class="form-outline mb-4">
                <input type="number" id="form3Example3" class="form-control" placeholder="Numéro CNAM" formControlName="nCnam"/>
            </div>
            <div class="form-outline mb-4">
                <input type="text" id="form3Example3" class="form-control" placeholder="Nom cabinet" formControlName="nomCabinet"/>
            </div>
              <div class="form-outline mb-4">
                <input type="password" id="form3Example4" class="form-control" placeholder="Mot de passe" formControlName="motDePasse"/>
              </div>
              <div class="form-outline mb-4">
                <input type="password" id="form3Example4" class="form-control" #confirmPassword placeholder="Repeter mot de passe"/>
              </div>
  
              Submit button 
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Valider
              </button>
              <p class="text-center text-muted mt-5 mb-0">Vous avez un compte? <a href="/login"
                class="fw-bold text-body"><u>Connecter</u></a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
-->

  <body>
    <div class="container">
      <div class="title">Inscription</div>
      <div class="content">
            <form [formGroup]="form">
              <div class="alert alert-success" role="alert" *ngIf="valider==true"><strong>Bienvenu chère patient </strong></div>
              <div class="alert alert-danger" role="alert" *ngIf="egal==true"><strong>erreur !! </strong> Verifier votre mot de passe</div>
              <div class="alert alert-danger" role="alert" *ngIf="remplir==true"><strong>erreur !! </strong> Vueiller remplir tout les champs</div>
              <div class="alert alert-danger" role="alert" *ngIf="verifMail==true"><strong>erreur !! </strong> Email déja utiliser</div>
          <div class="user-details">
            <div class="input-box">
              <span class="details">Nom *</span>
              <input type="text" placeholder="Taper votre nom" required formControlName="nom">
              <div style="color: red;" *ngIf="verifNom==true">*Champs obligatoire</div>
            </div>
            <div class="input-box">
              <span class="details">Prenom *</span>
              <input type="text" placeholder="Taper votre prénom" required formControlName="prenom">
              <div style="color: red;" *ngIf="verifPrenom==true">*Champs obligatoire</div>
            </div>
            <div class="input-box">
              <span class="details">Email *</span>
              <input type="email" placeholder="Taper votre email" required formControlName="email">
              <div style="color: red;" *ngIf="verifChampsMail==true">*Champs obligatoire</div>
            </div>
            <div class="input-box">
              <span class="details">Numéro telephone *</span>
              <input type="tel" placeholder="Taper votre numéro telephone" required formControlName="telephone">
              <div style="color: red;" *ngIf="verifTelephone==true">*Champs obligatoire</div>
            </div>
            <div class="input-box">
              <span class="details">Adresse *</span>
              <input type="text" placeholder="Taper votre adresse" required formControlName="adr">
              <div style="color: red;" *ngIf="verifAdr==true">*Champs obligatoire</div>
            </div>
            <div class="input-box">
              <span class="details">Code postal *</span>
              <input type="number" placeholder="Taper votre code postal" required formControlName="codePostal">
              <div style="color: red;" *ngIf="verifCodePostal==true">*Champs obligatoire</div>
            </div>
            <div class="input-box">
              <span class="details">ID cnam *</span>
              <input type="number" placeholder="Taper votre ID cnam" required formControlName="idCnam">
            </div>
            <div class="input-box">
              <span class="details">Date naissance *</span>
              <input type="date" required formControlName="dateNaissance">
              <div style="color: red;" *ngIf="verifDateNaissance==true">*Champs obligatoire</div>
            </div>
            <div class="input-box">
              <span class="details">Mot de passe *</span>
              <input type="password" placeholder="Taper votre mot de passe" required formControlName="motDePasse" (change)="motDepassValidation()">
              <div style="color: red;" *ngIf="verifMotDePasse==true">*Champs obligatoire</div>
              <div style="color: red;" *ngIf="longMdp==true">*mot de passe très court</div>
              <div style="color: red;" *ngIf="contenuMdp==true">*mot de passe ne doit pas continir votre nom ou prenom</div>
            </div>
            <div class="input-box">
              <span class="details">Repeter mot de passe</span>
              <input type="password" #confirmPassword placeholder="Repeter votre mot de passe" required>
              <div style="color: red;" *ngIf="verifConfirmPassword==true">*Champs obligatoire</div>
            </div>
          </div>
          <fieldset class="" id="group3">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Sexe *</legend>
              <div class="col-sm-10">

                  <input class="" type="radio" name="group3" id="s1" value="H" (change)="getSelectedSexe($event)">
                  <label class="" for="s1">
                    Homme
                  </label>

                  <input class="" type="radio" name="group3" id="s2" value="F" style="margin-left: 133px;" (change)="getSelectedSexe($event)">
                  <label class="" for="s2">
                    Femme
                  </label>
                  <div style="color: red;" *ngIf="verifSexe==true">*Champs obligatoire</div>
              </div>
            </div>
          </fieldset>

          <fieldset class="" id="group1" style="margin-top: 20px;">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Civilité *</legend>
              <div class="col-sm-10">
                  <input class="" type="radio" name="group1" id="ma" value="MARIEE" (change)="getSelectedCivilite($event)">
                  <label class="" for="ma">
                    Marié
                  </label>
                  <input class="" type="radio" name="group1" id="celeb" value="CELEBATAIRE" style="margin-left: 150px;" (change)="getSelectedCivilite($event)">
                  <label class="" for="celeb">
                    Celebataire
                  </label>
                  <div style="color: red;" *ngIf="verifCivilite==true">*Champs obligatoire</div>
            </div>
            </div>
          </fieldset>
          <div class="button">
            <button type="submit" class="btn btn-primary btn-block mb-4" (click)="ajouter()"> 
              S'inscrire
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>